@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Violet: hsl(257, 40%, 49%);
  --SoftMagenta: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Violet);
  color: var(--white);
  min-height: 100vh;
  background-image: url(../images/bg-mobile.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: content-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 90%;
  margin-inline: auto;
  padding-inline: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

header {
  padding-block: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-block: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  text-align: center;
}

.content h1 {
  font-size: clamp(1.5rem, 5vw + 1rem, 2.6rem);
  max-width: 35ch;
}
.content p {
  max-width: 50ch;
}

.content button {
  border: 0;
  outline: 0;
  padding: 0.8em 4em;
  font: inherit;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  color: var(--Violet);
  background-color: var(--white);
  transition: all 300ms ease-in-out;
  box-shadow: 0.1rem 0.4rem 1rem var(--Violet);
}

.content button:hover {
  background-color: var(--SoftMagenta);
  color: var(--white);
}

.social {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.social a {
  display: inline-flex;
  border-radius: 50%;
  border: 1px solid var(--white);
  aspect-ratio: 1;
  width: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.social img {
  display: inline-block;
  width: fit-content;
}

.social a:hover {
  background-color: var(--SoftMagenta);
}

@media (min-width: 45rem) {
  body {
    background-image: url(../images/bg-desktop.svg);
  }
  .main {
    flex-direction: row;
    min-height: 80vh;
    gap: 3rem;
  }

  .content {
    align-items: flex-start;
    text-align: start;
  }
  .social {
    list-style: none;
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    gap: 2rem;
  }
}
